.header {
  width: 100%;
  height: 100px;
  background-color: #323280;
}

.header__top,
.header__bottom {
  height: calc(50% - 50px);
}
.v1 {
  background-color: aqua;
}
.v2 {
  background-color: #db4444;
}
.v3 {
  background-color: #44db44;
}
.v4 {
  background-color: #4444db;
}
.v5 {
  background-color: #323280;
}
