:root {
  --gutter: 20px;
  --bg: #5b9c5a;
  --color2: #5af7bb;
  --color3: #16d8fa;
  --color4: #2124ee;
  --colorMain1: #eee;
  --colorSpan: #ffffff;
}
:root,
[data-bs-theme="light"] {
  --bd-purple: #4c0bce;
  --bd-violet: #712cf9;
  --bd-accent: #ffe484;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;
  --bd-accent-rgb: 255, 228, 132;
  --bd-pink-rgb: 214, 51, 132;
  --bd-teal-rgb: 32, 201, 151;
  --bd-violet-bg: var(--bd-violet);
  --bd-toc-color: var(--bd-violet);
  --bd-sidebar-link-bg: rgba(var(--bd-violet-rgb), 0.1);
  --bd-callout-link: 10, 88, 202;
  --bd-callout-code-color: #ab296a;
  --bd-pre-bg: var(--bs-tertiary-bg);
}
[data-bs-theme="dark"] {
  --bd-violet: #9461fb;
  --bd-violet-bg: #712cf9;
  --bd-toc-color: var(--bs-emphasis-color);
  --bd-sidebar-link-bg: rgba(84, 33, 187, 0.5);
  --bd-callout-link: 110, 168, 254;
  --bd-callout-code-color: #e685b5;
  --bd-pre-bg: #1b1f22;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* body {
  background-color: rgb(180, 244, 247);
} */
/*Основной фон страницы серый*/

/* @media screen and (max-width: 960px) {
  body {
    background-color: rgb(0, 255, 242);
  }
}  */
/*При максимальной ширине 960px цвет меняется на красный*/

/* @media screen and (max-width: 768px) {
  body {
    background-color: rgb(0, 255, 136);
  }
}  */
/*При ширине 768px цвет меняется на оранжевый*/

/* @media screen and (max-width: 550px) {
  body {
    background-color: rgb(102, 255, 0);
  }
}  */
/*При ширине 550px цвет меняется на желтый*/

/* @media screen and (max-width: 320px) {
  body {
    background-color: green;
  }
}  */
/*При ширине 320px цвет меняется на зеленый*/

hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: var(--bs-border-width) solid;
  opacity: 0.25;
}

section {
  padding: 0;
  max-width: 1200px;
  margin: 20px auto;

  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.container_text {
  margin: 20px auto;
  inline-size: 100%;
  padding: 30px;
  font-size: 18px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.pictures {
  margin: 20px auto;
  padding: 5px;
  border: 5px solid rgb(188, 204, 248);
  width: 100%;
}
.pictures1 {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 5px solid rgb(188, 204, 248);
  width: 70%;
}
.pictures2 {
  margin: 5px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 5px solid rgb(188, 204, 248);
  width: 50%;
}

span {
  font-size: 18px;
  color: #f03c06;
  background: var(--colorSpan);
}
.spanR {
  font-size: 18;
  color: #071d97;
  background: #cbe5f0;
}
.anchor {
  display: inline-block;
  margin-right: 0.25rem;
  vertical-align: text-bottom;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#a0b0bb),
    to(#3e5d75)
  );
  background: linear-gradient(to right, #a0b0bb, #3e5d75);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  text-decoration: none;
}
kbd {
  background: var(--prcd-kbd-bg, #dcdcdc);
  border-width: 3px 4px 5px;
  border-style: solid;
  border-color: var(--prcd-kbd-brdc, #cdcdcd #c9c9c9 #c0c0c0);
  padding: 0 10px;
  font-size: 14px;
  color: var(--prcd-kbd-color, #333);
  border-radius: 3px;
  line-height: 36px;
}

.ramka {
  font-size: 16px;
  background-color: #eee;
  color: #000;
  font-family: "Courier New", Courier, monospace;
  inline-size: 100%;
  margin: 20px 0 20px 0;
}
.color2 {
  color: var(--color2);
}
.color3 {
  color: var(--color3);
}
.color4 {
  color: var(--color4);
}
.colorMain1 {
  color: var(--colorMain1);
}

.bg2 {
  background-color: var(--color2);
}
.bg3 {
  background-color: var(--color3);
}
.bg4 {
  background-color: var(--color4);
}

.fon {
  background: url(../imges/pattern.png), var(--color3);
  background: url(../imges/pattern.png),
    linear-gradient(to left, var(--color3) 0%, var(--color4) 100%);
  background-size: contain;
}

.main {
  background-color: #ffffff;
}
.post {
  top: 0;
}
.footer {
  color: #000;
}
.sidebar {
  float: right;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

/* 3 */
.bi {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
  fill: currentcolor;
}

@media (min-width: 768px) {
  .masthead {
    position: -webkit-sticky;
    position: sticky;
    top: 8rem;
  }
}
table {
  color: #000;
}
.box {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border: 5px solid red;
}
.header {
  height: auto;
  top: 0;
  z-index: 1000;
}
.w3-example {
  background-color: #ffffff;
  border: 5px solid #ccc;
  border-radius: 5px;
  padding: 0.01em 16px;
  margin: 10px 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}
.content {
  grid-template-columns: 1.15fr 3fr;
  gap: 3rem;
}
.posts-container {
  max-width: 760px;
}
